$background-blue: #071f39;

$button-top: hsl(81, 78%, 48%);
$button-bottom: hsl(101, 78%, 30%);

$text-colour: #f0f0f0;

$box-header: hsl(221, 78%, 38%);
$header-9: hsl(101, 78%, 28%);

$font-size-smallest: 12px;
$font-size-small: 14px;
$font-size-medium: 20px;
$font-size-large: 25px;
$font-size-largest: 32px;
