header {
  background: #f0f0f0;
  padding-top: 4px;
  padding: 0;

  a,
  a:visited {
    color: #6b6b6b;

    &:hover {
      color: black;
      text-decoration: none;
    }
  }

  img {
    padding-top: 4px;
    cursor: pointer;
  }
}

.header-container {
  align-items: center;
  display: grid;
  font-size: $font-size-smallest;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  padding-left: 20px;
  padding-right: 20px;

  .twitter {
    grid-column: span 1 / -2;
  }

  .github {
    grid-column: span 1 / -1;
  }

  .active {
    background: #e0e0e0;
    padding: 16px;
    color: #333;
  }
}

@media (min-width: 900px) {
  .header-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .header-container {
    grid-template-columns: repeat(6, 1fr);

    .active {
      display: none;
    }
  }
}

@media (max-width: 470px) {
  .header-container {
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
  }
}
