form {
  background: url('/images/countdown.jpg') no-repeat;
  min-height: 320px;
  padding: 245px 0 0 40px;

  input#letters {
    background: rgba(255, 255, 255, 0.7);
    margin-right: 2em;
    text-transform: uppercase;
    width: 8em;
  }
}

.big-button {
  background: linear-gradient(160deg, $button-top, $button-bottom);
  border-radius: 8px;
  color: white;
  font-size: $font-size-large;
  padding: 10px 15px;

  &:hover {
    background: linear-gradient(
      lighten($button-bottom, 10%),
      lighten($button-top, 10%)
    );
  }
  &:disabled {
    background: #888;
    color: black;
  }
}
