form {
  background: url('/images/countdown.jpg') no-repeat;
  min-height: 320px;
  padding: 245px 0 0 40px;

  input#letters {
    background: rgba(255, 255, 255, 0.7);
    font-size: $font-size-medium;
    margin-right: 1rem;
    text-transform: uppercase;
    width: 11em;
  }
}

.big-button {
  background: linear-gradient(160deg, $button-top, $button-bottom);
  border-radius: 4px;
  color: white;
  font-size: $font-size-large;
  padding: 10px 15px;

  &:hover {
    background: linear-gradient(160deg,
      lighten($button-bottom, 10%),
      lighten($button-top, 10%)
    );
  }

  &:disabled {
    opacity: 0.7;
  }
}

@media (max-width: 600px) {
  form {
    background-size: contain;
  }
}

@media (max-width: 490px) {
  input#letters {
    font-size: $font-size-small;
    width: 8em;
  }

  .big-button {
    font-size: $font-size-small;
    padding: 5px 8px;
  }
}
