form {
  background: url('/images/countdown.jpg') no-repeat;
  min-height: 320px;
  padding: 245px 0 0 40px;

  input#letters {
    background: rgba(255, 255, 255, 0.7);
    margin-right: 2em;
    text-transform: uppercase;
    width: 8em;
  }
}

.big-button {
  background: linear-gradient(
    to bottom,
    hsla(211, 78%, 25%, 70%) 0%,
    hsla(213, 86%, 11%, 70%) 100%
  );
  border-radius: 8px;
  color: white;
  font-size: $font-size-large;
  padding: 10px 15px;

  &:disabled {
    background: #888;
  }
}
