.wordview {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin: 2rem auto;
  max-width: 90vw;
  width: 1000px;
}

.wordview-title {
  color: white;
  font-size: $font-size-largest;
  margin: 20px 0;
  text-align: center;
}

.word-box {
  border: 1px solid lighten($box-header, 20%);
  color: $text-colour;
  font-size: $font-size-small;
  padding: 0;

  p {
    padding: 0 10px;
  }

  a {
    color: $text-colour;

    &:hover {
      color: #ffc600; // WesBos' favourite
    }
  }

  .header {
    background: $box-header;
    font-size: $font-size-medium;
    height: $font-size-largest;
    line-height: $font-size-largest;
    text-align: center;
  }

  #header-9 {
    background: $header-9;
  }

  #header-10, #header-11, #header-12 {
    background: darken($header-9, 10%);
  }
}

.wide {
  grid-column: span 2;
}

@media (max-width: 490px) {
  .wordview {
    margin: 0.5rem auto;
  }

  .word-box {
    font-size: $font-size-smallest;

    .header {
      font-size: $font-size-small;
      height: $font-size-medium;
      line-height: $font-size-medium;
    }
  }
}
